body{
    background-color: lightcoral;
    text-align: center;
    margin-top: 15rem;
    
}

#aumentarNumero {
    font-family: 'Libre Baskerville', serif;
    padding: 7px;
    background-color: bisque;
    color: black;
    border: 1px solid #ccc;
    border-radius: 3rem;
    font-size: 1.5rem;
    width: 10rem;
    height: 4rem;
    margin-right: 5rem;
}

#diminuirNumero{
    font-family: 'Libre Baskerville', serif;
    padding: 7px;
    background-color: bisque;
    color: black;
    border: 1px solid #ccc;
    border-radius: 3rem;
    font-size: 1.5rem;
    width: 10rem;
    height: 4rem;
    margin-left: 5rem;
}

#contador{
    font-size: 3rem;
}

